html{
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: beige;
    user-select: none;
}

/* Disabilita il trascinamento delle immagini in una altra scheda (per togliere la possibilità di copiarle) */
img {
    -webkit-user-drag: none; /* Per browser WebKit come Chrome e Safari */
    user-drag: none; /* Per Firefox */
}

/* Nasconde il pulsante di download dal menù delle opzioni del video per i browser che lo supportano */
video::-internal-media-controls-download-button {
    display: none;
}
  
/* Nasconde il pulsante di download dal menù delle opzioni del video per Firefox */
video::-webkit-media-controls-enclosure {
    overflow: hidden;
}
  
video::-webkit-media-controls-panel {
    width: calc(100% - 30px); /* Regola la larghezza menù delle opzioni del video per adattarsi meglio al layout*/
}

/* Nasconde il pulsante di download su Firefox */
video::-moz-download-button {
    display: none;
}

/* Disabilita l'effetto di feedback della illuminazione in azzurro alla pressione di un pulsante o altro su i dispositi mobile come tablet e telefoni */
*{
    -webkit-tap-highlight-color: transparent; /* Per Safari, iOS e altri browser WebKit */
    -webkit-touch-callout: none; /* Impedisce la visualizzazione del menu di azione a lungo tocco */
    -ms-touch-action: manipulation; /* Imposta il comportamento del tocco */
    touch-action: manipulation; /* Imposta il comportamento del tocco */
}

.titoloprincipalepagina404{
    text-align: center;
    font-size: 43px;
    color: red;
}

.header {
    display: flex;
    align-items: center; /* Questo allinea gli elementi verticalmente al centro */
}

.logo{
    width: 200px;
    height: auto;
}

.contenitoredelvideo{
    display: flex;
    flex: 1 1 40rem;
    position: relative;
    justify-content: center; /* Per allineare orizzontalmente */
    align-items: center;     /* Per allineare verticalmente */
}

.contenitoredelvideo video{
    width: 50%;
    border: 1.5rem solid #febd59;
    border-radius: .7rem;
    box-shadow: 0 0.5rem 2rem black;
    height: 50%;
    object-fit: cover;
}

.contenitoredelvideo .videomemepagina404:-webkit-full-screen{
    border: none;
    border-radius: 0%;
}

.contenitoredelvideo .videomemepagina404:-moz-full-screen{
    border: none;
    border-radius: 0%;
}

.contenitoredelvideo .videomemepagina404:-ms-fullscreen{
    border: none;
    border-radius: 0%;
}

.contenitoredelvideo .videomemepagina404:fullscreen{
    border: none;
    border-radius: 0%;
}
  
/* Quando il video è in modalità a schermo intero */
.videomemepagina404:-webkit-full-screen{
    border: none; /* Nasconde il bordo */
}

.videomemepagina404:-moz-full-screen{
    border: none; /* Nasconde il bordo */
}

.videomemepagina404:-ms-fullscreen{
    border: none; /* Nasconde il bordo */
}

.videomemepagina404:fullscreen{
    border: none; /* Nasconde il bordo */
}

.frasesatiricapagina404{
    text-align: center;
    font-size: 43px;
}

.parteinrossofrasesatiricapagina404{
    text-align: center;
    font-size: 43px;
    color: red;
}

.collegamentoallahomepage{
    text-align: center;
    font-size: 37px;
}

.collegamentoallahomepage a{
    text-align: center;
    font-size: 37px;
    color: #febd59;
    text-decoration: none; /* Rimuove la sottolineatura */
}

.frasecountdownhomepage{
    text-align: center;
    font-size: 37px;
}

.countdownhomepage{
    text-align: center;
    font-size: 37px;
    color: red;
}

@media (max-width:991px){

    html{
        font-size: 67%; /* Imposta la dimensione del testo al 55% */
    }

    .titoloprincipalepagina404{
        font-size: 37px;
    }

    .frasesatiricapagina404 {
        font-size: 37px;
    }

    .parteinrossofrasesatiricapagina404{
        font-size: 37px;
    }

    .collegamentoallahomepage{
        font-size: 30px;
    }

    .collegamentoallahomepage a{
        font-size: 30px;
    }

    .frasecountdownhomepage{
        font-size: 30px;
    }

    .frasecountdownhomepage span{
        font-size: 30px;
    }

    .contenitoredelvideo{
        display: flex;
        flex: 1 1 40rem;
        position: relative;
        justify-content: center; /* Per allineare orizzontalmente */
        align-items: center;     /* Per allineare verticalmente */
    }
    
    .contenitoredelvideo video{
        width: 70%;
        border: 1.5rem solid #febd59;
        border-radius: .7rem;
        box-shadow: 0 0.5rem 2rem black;
        height: 70%;
        object-fit: cover;
    }
}

@media (max-width:768px){

    html{
        font-size: 59%; /* Imposta la dimensione del testo al 55% */
    }

    .titoloprincipalepagina404{
        font-size: 47px;
    }

    .frasesatiricapagina404 {
        font-size: 43px;
    }

    .parteinrossofrasesatiricapagina404{
        font-size: 43px;
    }

    .collegamentoallahomepage{
        font-size: 37px;
    }

    .collegamentoallahomepage a{
        font-size: 37px;
    }

    .frasecountdownhomepage{
        font-size: 37px;
    }

    .frasecountdownhomepage span{
        font-size: 37px;
    }

    .contenitoredelvideo{
        display: flex;
        flex: 1 1 40rem;
        position: relative;
        justify-content: center; /* Per allineare orizzontalmente */
        align-items: center;     /* Per allineare verticalmente */
    }
    
    .contenitoredelvideo video{
        width: 85%;
        border: 1.5rem solid #febd59;
        border-radius: .7rem;
        box-shadow: 0 0.5rem 2rem black;
        height: 85%;
        object-fit: cover;
    }
}

@media (max-width:450px){
    
    html{
        font-size: 39%; /* Imposta la dimensione del testo al 55% */
    }

    .titoloprincipalepagina404{
        font-size: 43px;
    }

    .frasesatiricapagina404 {
        font-size: 37px;
    }

    .parteinrossofrasesatiricapagina404{
        font-size: 37px;
    }

    .collegamentoallahomepage{
        font-size: 30px;
    }

    .collegamentoallahomepage a{
        font-size: 30px;
    }

    .frasecountdownhomepage{
        font-size: 30px;
    }

    .frasecountdownhomepage span{
        font-size: 30px;
    }

    .contenitoredelvideo{
        display: flex;
        flex: 1 1 40rem;
        position: relative;
        justify-content: center; /* Per allineare orizzontalmente */
        align-items: center;     /* Per allineare verticalmente */
    }
    
    .contenitoredelvideo video{
        width: 85%;
        border: 1.5rem solid #febd59;
        border-radius: .7rem;
        box-shadow: 0 0.5rem 2rem black;
        height: 85%;
        object-fit: cover;
    }
}